@import url('https://fonts.googleapis.com/css?family=Dosis:300');

body {
  padding-top: 5rem;
  color: #8F8F8F;
  background: #242424;
}

.dosis {
  font-family: 'Dosis', sans-serif;
}

.xcontent {
  padding: 3rem 1.5rem;
  text-align: center;
}

.xright {
  right: 0;
}

.xbg-dark {
  background-color: #0E1112;
}

.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
 }

.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}